/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 /* body */
 body{
    font-family:'Poppins', sans-serif;
    background-color: #F8FAFC;
    color: #1F2937;
 }
 /* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1E3A8A;
    color: white;
    padding: 20px;
 }
 .logo{
    width: 150px;
 }
 .menu{
    display: flex;
    list-style: none;
    gap: 20px;
 }
 .menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
 }
 /* HERO*/
 .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px;
 }
 .hero-texto{
    flex: 1;

 }
.hero-imagen{
    flex: 1;
}
 /* NAVEGACION*/

nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
/* main */
main{
    padding: 40px;
}
/* secciones */
section{ 
    padding: 20px;
    margin: 20px;
    margin-bottom: 40px;
}
/* titulos */
h1{
    font-size: 3rem;
    font-weight: 700;
    color: #1E3A8A;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}
p{
    font-size: 1rem;
    line-height: 1.8;
}
/* imagenes*/
img{
    max-width: 100%;
    border-radius: 10px;

}
/* sabores */
.sabores{
    
    padding: 20px;
}
.titulo-sabores{
    text-align: center;
}
.titulo-sabores img{
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;

}

.lista-sabores{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.sabor{
    flex: 1;
    max-width: 250px;
    padding: 20px;
    background: #F8FACF;
    border-radius: 10px;
    text-align: center;
}
.sabor img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
/* titulo promociones*/
.titulo-promociones{
    text-align: center;
}
.titulo-promociones img{
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
}
.titulo-nosotros{
     text-align: center;
}
.titulo-nosotros img{
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
}
.titulo-contacto{
    text-align: center
}
.titulo-contacto img{
     display: block;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
}
/* footer */
footer{
    background: #1E3A8A;
    color: white;
    text-align: center;
    padding: 20px;
}