/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 /* body */
 body{
    font-family:'poppins' sans-serif;
    background-color: #F8FAFC;
    color: #1F2937;
 }
 /* header */
header{
    background: #1E3A8A;
    color: white;
    padding: 20px;
 }
 /* NAVEGACION*/
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
/* main */
main{
    padding: 40px;
}
/* secciones */
section{ 
    margin-bottom: 40px;
}
/* titulos */
h1{
    font-size: 3 rem;
    font-weight: 700;
    color: #1E3A8A;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}
p{
    font-size: 1rem;
    line-height: 1.8;
}
/* imagenes*/
img{
    max-width: 100%;
    border-radius: 10px;

}
/* footer */
footer{
    background: #1E3A8A;
    color: white;
    text-align: center;
    padding: 20px;
}